<% @centr_text = 'Центральный техт' %>
<% @right_text = 'Лучшие сайты для заработка на кликах' %>

<% @centr_img = Array.new %>

<% @centr_img[0] = '<a href="http://seo-fast.ru/?r=415546" ><img alt="Rails" src="/assets/banner0.gif" /></a>' %>
<% @centr_img[1] = '<a href="http://www.scarlet-clicks.info/?ref=gurucoder" ><img alt="Rails" src="/assets/banner1.gif" /></a>' %>

<% @centr_size = @centr_img.size  %>
